data/graph_xml_input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="graph">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="id"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element name="nodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="id"/>
                                        <xs:element type="xs:string" name="name"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="edges">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="id"/>
                                        <xs:element type="xs:string" name="from"/>
                                        <xs:element type="xs:string" name="to"/>
                                        <xs:element type="xs:float" name="cost"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>